---
layout: default
---

<div class="hero">
  <div class="hero-content">
    <h1>CENTRAL OREGON CHAPTER OF NAVHDA</h1>
    <img src="/uploads/navhda_logo_outline.png" alt="Logo Image" class="hero-logo">
    <p>Serving Oregon's High Desert and Great Basin communities in training and testing of versatile hunting dogs.</p>
  </div>
</div>

<section class='row row-1'>
  <div class="cards">
    {% for callout in site.callouts %}
      <div class="card">
        <a href={{callout.callout_link}}>
          <div class="card-image">
            <img src={{callout.image.callout_image}} alt="">
          </div>
          <div class="card-header">
            {{callout.callout_title}}
          </div>
          <div class="card-copy">
            <p>{{callout.callout_text}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

<section class='row row-2'>
  {% for mission in site.mission-statement %}
    {{mission.content}}
  {% endfor %}
</section>

<section class='row row-3'>
  <h2 id="scroll-link-3">Sponsors</h2>
  <div class="grid-items-lines">
    {% for sponsor in site.sponsors %}
      <a href="{{sponsor.link}}" target='blank' class="grid-item">
        <img src="{{sponsor.image.logo}}" alt="">
      </a>
    {% endfor %}
    <div class="right-cover"></div>
    <div class="bottom-cover"></div>
  </div>
</section>

<section class='row row-4'>
  <h2 id='contact'>Contact Central Oregon NAVHDA</h2>
  <form action="http://formspree.io/conavhda@gmail.com" method="post">
    <label for="name">Full Name: </label>
    <input type="text" name="name" id="name" placeholder="Full Name" required>
    <label for="_replyto">Email: </label>
    <input type="email" name="_replyto" id="email" placeholder="Your Email" required>
    <textarea rows="6" type="text" name="message" id="name" placeholder="Type Your Message Here" required></textarea>

    <input type="hidden" name="_next" value="../thank_you.html" />
    <input type="text" name="_gotcha" style="display:none" />
    <input type="submit" value="Send">
  </form>
</section>
